.burgerMenuFather {
    display: none;
    position: absolute;
    right: 10px;
}

.burgerMenuExpand {
    display: grid;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    transition: ease 0.5s;
    border: 1px solid hsl(var(--cinza-100-hsl), 0);
}

.burgerMenuExpand:hover {
    transition: ease 0.5s;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.174); */
    background-color: hsl(var(--bg-color-hsl));
    border: 1px solid hsl(var(--cinza-100-hsl));
}

.burgerMenuExpand .span {
    height: 15px;
    width: 15px;
    margin: 8px;
    position: relative;
}

.burgerMenuExpand span {
    width: 90%;
    height: 1.5px;
    background-color: hsl(var(--text-color-hsl));
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s, width 0.5s, opacity 0.5s;
}

.burgerMenuExpand .line2 {
    transform: translate(-50%, -1.5px);
}

/*================= Menu 6 pretzel x cortado ==================*/
.burgerMenu .line1 {
    transform: translate(58%, -8px);
    width: 30%;
}

.burgerMenu .line3 {
    transform: translate(-170%, 5px);
    width: 30%;
}

.openBurgerMenu .line1 {
    transform: translate(35%, -260%) rotate(-45deg);
    width: 25%;
}

.openBurgerMenu .line3 {
    transform: translate(-150%, 180%) rotate(-45deg);
    width: 25%;
}

.openBurgerMenu .line2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 1024px) {
    .burgerMenuFather {
        display: flex;
    }
}