:root {
    --preto-hsl: 0, 0%, 0%;
    --branco-hsl: 0, 0%, 100%;
    --texto-hsl: 211.2, 12.56%, 100%;
    --cinza-100-hsl: 0, 0%, 95%;
    --cinza-200-hsl: 0, 0%, 85%;
    --cinza-300-hsl: 0, 0%, 70%;
    --cinza-400-hsl: 0, 0%, 50%;
    --cinza-500-hsl: 0, 0%, 30%;

    --bg-color-hsl: var(--branco-hsl);
    --text-color-hsl: var(--preto-hsl);
    --filter: none;

    --filter-thumb: saturate(0) invert(0) opacity(1);
    --filter-thumb-hover: saturate(1) invert(0) opacity(1);
}

.dark-theme {
    --preto-hsl: 0, 0%, 0%;
    --branco-hsl: 0, 0%, 100%;
    --texto-hsl: 211.2, 12.56%, 100%;
    --cinza-100-hsl: 0, 0%, 10%;
    --cinza-200-hsl: 0, 0%, 20%;
    --cinza-300-hsl: 0, 0%, 35%;
    --cinza-400-hsl: 0, 0%, 50%;
    --cinza-500-hsl: 0, 0%, 70%;

    --bg-color-hsl: var(--preto-hsl);
    --text-color-hsl: var(--branco-hsl);
    --filter: invert();

    --filter-thumb: saturate(0) invert(100%) opacity(1);
    --filter-thumb-hover: saturate(1) invert(100%) opacity(1);
}

body {
    margin: 0;
    font-family: roboto, 'Segoe UI', sans-serif;
    background-color: hsl(var(--bg-color-hsl));
    color: hsl(var(--text-color-hsl));
    transition: background-color 0.4s ease, color 0.4s ease;
    /* background-color: #e4e1ea; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23aeaeae' fill-opacity='0.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#topbar {
    height: 80px;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid hsla(var(--text-color-hsl), 0.2);
    background-color: hsl(var(--bg-color-hsl), 0.6);
    transition: background-color 0.4s ease, color 0.4s ease;

    text-align: center;
    /*horizontal*/

    align-content: center;
    /*vertical*/

    align-items: center;
    /*vertical*/
}

.logotipotopbar {
    height: 22px;
    width: auto;
    margin: 0 10px 0 20px;
    transition: ease 0.5s;
    filter: var(--filter);
}

/* .logotipotopbar:hover {
filter: opacity(0.5);
transition: ease 0.5s;
} */

#titulonav {
    font-family: 'Roboto';
    letter-spacing: 0.04rem;
    min-width: 90px;
    transform: scaleY(1.2);
    text-align: left;
    cursor: context-menu;
    user-select: none;
}

#titulonav #nome {
    font-weight: 900;
    font-size: 11pt;
}

#titulonav #info {
    font-weight: 400;
    font-size: 7pt;
}

.menu {
    font-family: 'Quicksand';
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0 10px;
    margin: 0 0 0 10px;
    flex: 1 1 100%;
    text-transform: uppercase;
    font-size: 12px;
    user-select: none;
}

.menu ul {
    margin: 0px;
    display: inline-flex;
}

.menu ul li {
    margin: 0 2px;
}

.menu ul li a {
    color: hsla(var(--text-color-hsl), 1);
    text-shadow: 0.5px 0.5px hsla(var(--text-color-hsl), 0.2);
    transition: ease 0.5s;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu ul li a:hover {
    color: hsla(var(--text-color-hsl), 1);
    text-shadow: 0.5px 0.5px hsla(var(--text-color-hsl), 0.6);
    transition: ease 0.5s;
    background-color: hsla(var(--cinza-100-hsl), 0.2);
    box-shadow: 0.5px 0.5px 5px hsla(var(--preto-hsl), 0.1);
}

.dark-theme .menu ul li a {
    color: hsla(var(--texto-hsl), 0.5);
    text-shadow: 0.5px 0.5px hsla(var(--text-color-hsl), 0);
}

.dark-theme .menu ul li a:hover {
    color: hsla(var(--branco-hsl), 1);
    text-shadow: 0.5px 0.5px var(--preto-hsl);
    background-color: hsla(var(--branco-hsl), 0.1);
    /* 50% opacidade */
}

.hero_section {
    display: flex;
    width: 100%;
    min-height: 88.5dvh;
    justify-content: left;
    align-items: center;
    cursor: context-menu;
    user-select: none;
}

.section_area {
    /* background-color: pink; */
    width: 50dvw;
    margin: 80px;
    align-content: center;
}

.section_area #nome {
    font-family: Roboto;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: hsl(var(--cinza-400-hsl));
}

.section_area #info {
    font-family: Roboto;
    font-weight: 800;
    font-size: 4.2rem;
    color: hsl(var(--text-color-hsl));
    padding: 10px 0;
}

.section_area #about {
    font-size: 1.4rem;
    font-family: Roboto;
    font-weight: 400;
    color: hsl(var(--cinza-400-hsl));
    letter-spacing: normal;
    line-height: 2rem;
    padding-bottom: 10px;
}

.section_area #links {
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 500;
    color: hsl(var(--cinza-400-hsl));
    letter-spacing: normal;
    margin-top: 10px;
}

.section_area #links a {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(var(--cinza-500-hsl));
    text-decoration: none;
    transition: 0.6s;
    border-bottom: 2px solid transparent;
}

.section_area #links a:hover {
    color: hsl(var(--cinza-500-hsl));
    border-bottom: 2px solid hsl(var(--cinza-400-hsl));
}

.section_area #links a:visited {
    color: hsl(var(--cinza-500-hsl));
    text-decoration: none;
}

.about_me {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    user-select: none;
}

.about_section {
    background-color: hsl(var(--bg-color-hsl), 0.4);
    width: 85dvw;
    align-content: center;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid hsl(var(--text-color-hsl), 0.2);
}

.about_section #title {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: hsl(var(--cinza-400-hsl));
    text-align: center;
    letter-spacing: 0.3rem;
}

.about_section #about_one {
    font-family: Roboto;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: hsl(var(--text-color-hsl));
    padding: 20px 0;
    letter-spacing: 0.1rem;
    text-align: center;
}

.about_section #about_two {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: hsl(var(--cinza-500-hsl));
    padding: 10px 0 20px 0;
    letter-spacing: 0.1rem;
    text-align: center;
}


/*===========================================================*/


.skills {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    user-select: none;
}

.skills_section {
    width: 85dvw;
    padding: 2rem;
    background-color: hsl(var(--bg-color-hsl), 0.4);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid hsl(var(--text-color-hsl), 0.1);
}

.skills_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    /* gap: 1rem; */
    justify-content: start;
}

.skills_section #title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
    color: hsl(var(--text-color-hsl));
    letter-spacing: 0.1rem;
    padding-left: 10px;
}

.skills_section .skills_card {
    /* background-color: blue; */
    display: inline;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    /* min-width: 410px; */
}

.skills_section .skills_title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.2rem;
    color: hsl(var(--text-color-hsl));
    padding: 10px 0;
}

.skills_section #skills_list {
    display: inline-flex;

    font-family: Roboto;
    font-weight: 200;
    font-size: 1rem;
    text-wrap: nowrap;
    color: hsl(var(--text-color-hsl));
    letter-spacing: 0.1rem;
}

.skills_section #skills_list #name {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid hsl(var(--text-color-hsl), 0.08);
    transition: ease 0.5s;
}

.skills_section #skills_list #name:hover {
    background-color: hsl(var(--text-color-hsl), 0.08);
    transition: ease 0.5s;
}

.skills_section #skills_list #dott {
    padding: 10px 0px;
}

/*============================================================*/

.projects {
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    user-select: none;
}

.projects_section {
    width: 85dvw;
    padding: 2rem;
    background-color: hsl(var(--cinza-100-hsl), 0.4);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid hsl(var(--text-color-hsl), 0.1);
}

.projects_section #title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.8rem;
    color: hsl(var(--text-color-hsl));
    letter-spacing: 0.1rem;
    padding-left: 10px;
}

.projects_grid {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
    /* justify-content: start; */
    margin-top: 10px;
    overflow: hidden;
}


/*============================================================*/


.projects_section .project_card {
    background-color: hsl(var(--bg-color-hsl), 0.4);
    /* background-color: hsl(var(--cinza-100-hsl)); */
    box-shadow: 0px 0px 5px hsl(var(--text-color-hsl), 0.1);
    border: 1px solid hsl(var(--text-color-hsl), 0.1);
    display: grid;
    padding: 10px 10px 0 10px;
    border-radius: 12px;
    margin: 5px;
    min-width: 314px;
    height: 260.8px;
    /* justify-content: center; */
    transition: ease 0.5s;
}

.projects_section .project_card:hover {
    box-shadow: 0px 4px 7px hsl(var(--text-color-hsl), 0.15);
    transition: ease 0.5s;
}

.project_thumb {
    /* width: 314px;
    height: 184px; */
    border-radius: 8px;
    border: 1px solid hsl(var(--text-color-hsl), 0.1);
    overflow: hidden;
}

.project_thumb .thumb {
    width: 100%;
    transition: ease 0.8s;
    /* width: 314px;
    height: 184px;
    filter: var(--filter-thumb); */
}

.projects_section .project_card:hover .thumb {
    transform: scale(1.2) rotate(-5deg);
    margin-left: 20px;
    transition: ease 0.8s;
}

.project_card .titles {
    height: 44.8px;
    width: 258px;
    padding: 16px 40px 16px 16px;
}

.project_card #project_title {
    font-size: 1.3rem;
    overflow: hidden;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: hsl(var(--text-color-hsl));
}

.project_card #subtitle {
    font-size: 1rem;
    color: hsl(var(--cinza-400-hsl));
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    text-overflow: ellipsis;
    text-decoration: none;
}



/*=======================================================*/

/*==============================================*/


.projects_section .project_card_model3 {
    /* background-color: hsl(var(--cinza-100-hsl), 0.4); */
    background-color: hsl(var(--bg-color-hsl));
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5a5a5' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: grid;
    padding: 10px 10px 0 10px;
    margin: 5px;
    min-width: 314px;
    height: 260.8px;
    /* justify-content: center; */
    transition: ease 0.5s;
    position: relative;
}

.projects_section .project_card_model3::before,
.projects_section .project_card_model3::after {
    content: '';
    position: absolute;
    left: -5px;
    /* width: 344px; */
    width: calc(100% + 10px);
    height: 0.5px;
    background-color: hsl(var(--cinza-200-hsl));
    transition: ease 0.5s;
}

.projects_section .project_card_model3::before {
    top: 0;
}

.projects_section .project_card_model3::after {
    bottom: 0;
}

.projects_section .project_card_model3:hover {
    transition: ease 0.5s;
}

.project_thumb_model3 {
    position: relative;
}

.project_thumb_model3::before,
.project_thumb_model3::after {
    content: '';
    position: absolute;
    left: -5px;
    /* width: 324px; */
    width: calc(100% + 10px);
    height: 0.5px;
    background-color: hsl(var(--cinza-200-hsl));
    z-index: 1;
}

.project_thumb_model3::before {
    top: 0;
}

.project_thumb_model3::after {
    bottom: 0;
}

.linha-vertical0 {
    position: absolute;
    top: -5px;
    /* height: 195px; */
    height: calc(100% + 10px);
    width: 0.5px;
    background-color: hsl(var(--cinza-200-hsl));
    z-index: 1;
}

.linha-vertical0.esquerda {
    left: 0;
}

.linha-vertical0.direita {
    right: 0;
}

.thumb_limiter {
    /* width: 314px; */
    height: 184px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.project_thumb_model3 .thumb_model3 {
    width: 100%;
    /* width: 314px; */
    /* height: 184px; */
    transform: scale(1) rotate(0deg);
    transition: ease 0.8s;
    filter: var(--filter-thumb);
    /* filter: brightness(1.2); */
}

.projects_section .project_card_model3:hover .thumb_model3 {
    /* transform: scale(1.4) rotate(-5deg); */
    transform: scale(1.2) rotate(-5deg);
    margin-left: 20px;
    transition: ease 0.8s;
    filter: var(--filter-thumb-hover);
}

.project_card_model3 .titles_model3 {
    height: 44.8px;
    width: 258px;
    padding: 16px 40px 16px 16px;
}

.project_card_model3 #project_title_model3 {
    font-size: 1.3rem;
    overflow: hidden;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: hsl(var(--text-color-hsl));
}

.project_card_model3 #subtitle_model3 {
    font-size: 1rem;
    color: hsl(var(--cinza-500-hsl));
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    text-overflow: ellipsis;
    text-decoration: none;
}

.linha-vertical {
    position: absolute;
    top: -5px;
    /* height: 280px; */
    height: calc(100% + 10px);
    width: 0.5px;
    background-color: hsl(var(--cinza-200-hsl));
}

.linha-vertical.esquerda {
    left: 0;
}

.linha-vertical.direita {
    right: 0;
}